<!doctype html>
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>מספר הסיפורים</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <div class="container">

        <header class="pb-3 mb-4 border-bottom">
            <span class="fs-4"></span>
        </header>

        <!-- Record and Stop buttons -->
        <button id="recordButton" class="btn btn-danger btn-lg" type="button">הקלט</button>
        <button id="stopButton" class="btn btn-secondary btn-lg" type="button" disabled>עצור</button>

        <div id="loader" class="spinner-border text-primary" role="status" style="display: none;">
        </div>
        <br>
        <br>
        <br>
        <div class="container" id="response_container" style="display: none;">
            <div class="p-3 mb-4 bg-light rounded-3">
                <div class="container-fluid py-0">
                    <p class="col-md-8 fs-6" id="audio_text"></p>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-4">
                <img src="" class="img-fluid" alt="" id="story_image">
            </div>
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold" id="story_name"></h1>
                    <p class="col-md-8 fs-4" id="story_text"></p>
                </div>
            </div>

        </div>
        <script>
            let mediaRecorder;
            let audioChunks = [];
            var ws = new WebSocket("{{ url_for('websocket_endpoint')}}");
            var ws = new WebSocket(webSocketUri);
            document.getElementById("recordButton").addEventListener("click", async () => {
                if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
                    alert("Your browser does not support audio recording");
                    return;
                }
                const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.start();

                mediaRecorder.ondataavailable = event => {
                    audioChunks.push(event.data);
                };

                document.getElementById("recordButton").disabled = true;
                document.getElementById("stopButton").disabled = false;
            });

            document.getElementById("stopButton").addEventListener("click", () => {
                mediaRecorder.stop();

                mediaRecorder.onstop = async () => {
                    document.getElementById("loader").style.display = '';
                    const audioBlob = new Blob(audioChunks, { type: mediaRecorder.mimeType });
                    ws.send(mediaRecorder.mimeType);
                    ws.send(audioBlob);

                    audioChunks = [];
                    document.getElementById("recordButton").disabled = false;
                    document.getElementById("stopButton").disabled = true;
                };
            });

            ws.onmessage = function (event) {
                var message = JSON.parse(event.data);  // Parse the JSON message
                if (message.type === "audio_text") {
                    document.getElementById("response_container").style.display = ''
                    document.getElementById("story_name").innerText = ''
                    document.getElementById("story_text").innerText = ''
                    document.getElementById("story_image").src = ''

                    var p = document.getElementById("audio_text");
                    p.innerText = message.value;
                } else if (message.type === "image") {
                    document.getElementById("story_image").src = message.value;
                } else if (message.type === "title") {
                    var p = document.getElementById("story_name");
                    p.innerText = message.value;
                } else if (message.type === "text") {
                    var p = document.getElementById("story_text");
                    if (message.value) {
                        p.innerText += message.value;
                    }
                } else if (message.type === "done") {
                    document.getElementById("loader").style.display = 'none';
                }
            };
        </script>


        <footer class="pt-3 mt-4 text-muted border-top">
            נעשה ב <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-heart" viewBox="0 0 16 16">
                <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
            </svg> לאייל ואיתי
        </footer>
    </div>




</body>

</html>